section{width:30rem;
    color: white;
    margin: 5rem auto;
    text-align: center;
background-color:olive;
height: 5rem !important;
display: flex;
flex-direction: column;
justify-content:space-around;
align-items: center;
/* padding: 2rem; */
box-sizing: border-box;
}

    button{outline: none;
    border: 1px solid olive;
background-color: orange;
padding: .5rem;
border-radius: 10px;
cursor: pointer;
color: white;}