*{box-sizing: border-box;
}
body{margin: 0;
padding: 0;
background-color: #202e32;
font-weight: 400;
font-family:'open-sans', sans-serif;
padding: 50px 0;
scale: 0.9;
/* transform:; */
}
.blur_property{
    filter: blur(4px);
}
.invoiceContainer{
    background-image: linear-gradient(to right, #dfdcb9, #d29926);
    /* background-color:#dfdcb9; */
    border-radius:10px 10px 10px 80px;
    padding: 15px 20px;
    width: 100%;
    margin: 0 auto;
    max-width: 700px;
box-shadow:-4px 4px 15px #202e32, 2px 2px 15px rgb(64, 64, 64);
min-height: 100vh;
}
.tel{text-align: left; 
align-self: flex-start;
color: #202e32;
letter-spacing: 2px;}
/* .toggle-dark{float: right; 
cursor: pointer;
} */

.taxInvoice{text-align: center;
font-size: 18px;
letter-spacing: 3px;
padding-bottom: 1rem;
margin-bottom: 1rem;
padding-top: 1rem;
color: #202e32;
border-bottom: 1px solid  #202e3230; ;
text-transform: uppercase;
font-weight: 600;}
.header{ 
    color: #202e32;
 display: flex;

    align-items:center;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;

border-bottom: 1px solid  #202e3230;
padding-bottom: 2rem;}
.header h1{margin:0;
letter-spacing: 2px;
color:  #202e32;
text-decoration: underline !important;
} 
.invoiceId span{
display: block;
padding: .3rem 0;
color:  #202e32;
}
address{
font-weight: 600;
color: #202e32;
letter-spacing: 2px;
margin-top: .5rem;}
#form{display: inline-block;
}
#form input{
     padding:10px 7px;
     border: none;
    background-color: transparent;}
#form input:placeholder-shown{
    font-size: 12px;
    font-weight: 600;
    text-align: center;
}
#form button{
    border: 1px solid #586c5c;
    border-radius: 7px;
    color:#40453c;
    display: inline-block;
    padding: 7px 17px;
    text-decoration: none;
    transition: 0.3s ease-in-out all;
    background-color: transparent;
    /* margin: 25px 0; */
cursor: pointer;}
#form button:hover{ background-color:#586c5c;
    border: none;
    color:white;
}
#form button:focus{
   background-color:#40453c;
   color:white;
   border: none;
}
.columnTitle,.lists{
width: 100%;
display: flex; 
justify-content: space-between; /* Update justify-content to space-between */
align-items: center;
/* border-bottom:1px solid  #202e3230; */
border-top:1px solid  #202e3230;
padding:.5rem 0;
text-transform: capitalize;
}
.columnTitle
{
font-weight: 600;
font-size: 20px;
color:#202e32 !important;
border-top: none;
border-bottom: none;
}

.lists{ list-style-type: none;
margin: 0;
padding: 0;
border-bottom: 1px solid #202e3230;
height: 100%;
align-items: flex-start;
flex-direction: column;
min-height: 50px;
}
.item, .desc{
width:50%;
align-self:center;
text-align: left;
box-sizing: border-box;
}

 .desc
 {
padding: 0;
margin: 0;
margin: 0;
}
 
 .lists .litems
 {
display: flex; 
justify-content: space-between;
align-items: center;
width:100%; 
height: 50px;
color:  #202e32;
/* font-family: 'elegant typewriter'; */
font-weight: 800;
font-size: .9rem;
text-transform: capitalize;
 }
 .lists .litems:nth-of-type(odd){
    background-color: #c5c2a3;;
 }

 .qty,.price,.rate{
   width:10%;
text-align: center;
 }
 .rate, .qty, .price{font-family: 'elegant typewriter';
font-weight:bolder;
}
 .count
 {
display: flex;
justify-content: space-around;
font-size: 20px;
text-transform: capitalize;
margin-bottom: 1rem;
margin-top: 1rem;
height: 50px;
border-bottom: 1px inset   #202e3230;
}
.count span:first-of-type{font-weight: 600;
color: #202e32ca;

}

.paymentinfo{
border: 1px solid #202e3230;
padding:10px 20px;
text-transform: capitalize;
}
.paymentinfo h2
{
color:  #202e32;
font-size: 20px;

}
.paymentinfo .payment{
display: flex;
justify-content: space-between;
align-items: center;
font-size: 20px;}
.balance{
color:#202e32;
padding:10px 20px;
text-transform: capitalize;
justify-content:space-between;
align-items: center;
display: flex;
font-size: 20px;
}
.balance h2{font-size: 20px;}
.balance .balance-item{
font-size:  24px;
}
footer{display: flex; 
align-items: center;
justify-content: space-between;
height: 60px;
margin-top: 2rem;
}
#enterpaymentForm{
border:1px solid  #c4c09b;
height: 50px;
width: 250px;
display: flex;
align-items: center;
justify-content: space-between;
border-radius: 0 0 0 80px;
}
/* .enterpayment{
padding: 5px;
width: 250px;
height: 50px;
display: flex;
align-items: center;
justify-content: space-between;
border-radius: 0 0 0 80px;
border: 1px solid #202e325c;;

} */
.enterpayment button{
background-color: transparent;
border:none;
padding: 0;
margin: 0;

}
.enterpayment button:hover{

scale: 0.9;
transition: 0.3s ease-in-out all;
}
.enterpayment img{
cursor: pointer;
margin: 0;
/* width: 100%; */
height: 100%;
width: 100%;
padding: 0;

}

.enterpayment input{
border:none;
border-radius: 0 0 0 80px;
width: 80%;
height: 100%;
background-color: transparent;
padding: 12px 20px;
font-size: 20px;
font-weight: 600;
color: #565758;

}
.enterpayment input:placeholder-shown{font-size: 14px;}
.enterpayment input:focus{
outline: none;
background-color: #c4c09b;}

.barcode img{
margin: 0;
padding: 0;}